* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 10px 0;
}

.header__logo-container {
	height: 60px;
	width: 60px;
}

.header__cart {
	position: relative;;
	width: 30px;
	height: 30px;
	background-image: url("img/shopping-cart.svg");
	background-size: cover;
	cursor: pointer;
	border: 1px solid black;
	
}

.header__cart-window {
	position: absolute;
	top: 70%;
	right: 70%;
	width: 300px;
	height: fit-content;
	min-height: 20px;
	border: 1px solid black;
	background-color: white;
	cursor:default;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	height: 50px;
	width: 100%;
	padding-right: 10px;
}

.cart-item-image-container {
	height: 50px;
	width: 50px;
	border-right: 1px solid black;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.cart-item-text {
	flex-basis: 100%;
}

.cart-item-title {
	font-weight: 700;
}


.items-container {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}

.item {
	height: 500px;
	border: 1px solid black;
}

.item-image-container {
	height: 60%;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid black;
}

.item-description-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
	padding: 10px;
}

.item-footer {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
